.products-container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px 60px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #666;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 120px;
}

.tab {
    padding: 15px 30px;
    margin-top: 40px;
    text-decoration: none;
    color: #666;
    font-size: 20px;
    font-weight: bold;
}

.tab:first-child, .tab:last-child {
    color: #666;
}

.tab:first-child.active {
    color: #ff4757;
}

.tab:last-child.active {
    color: #ff4757;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.product-card {
    border-radius: 4px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    text-align: left;
}

.product-card h2 {
    font-size: 20px;
    margin: 0;
}

.product-card a {
    font-size: 16px;
    color: #000000;
    margin: 0;
    text-decoration: none;
}

.product-image {
    position: relative;
}

.sold-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 71, 87, 0.9);
    color: white;
    padding: 8px 24px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
}
